<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Project Page</title>
</head>

<body>
    {{> header }}

    <h4>{{ project }}</h4>

    <p>Person Project</p>

    {{> footer}}
</body>

</html>